<!-- 
 File Name: footer.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: Partials containing footer details.
-->

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="footer">&copy; Mohammed Juned Ahmed</div><!-- end Container-->
</nav>
<!-- JS Scripts -->
<script src="/Scipts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scipts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>