<!-- 
 File Name: jummbotron.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: Contains the partials for jumbotron functionality.
-->

<div class="jumbotron">
  <div class="container text-center">
    <h3>Mohammed Juned Ahmed</h3>
    <p>Digital identtity is my passion. A Web application developer and a recent graduate from centennial college.</p>
    <div class="btn-group"><a href="/about" class="btn ntn-lg btn-info">Learn More</a></div>
  </div><!--End container-->
</div><!--End Jumbotron-->