<!-- 
 File Name: error.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: Contains the partials for error.
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
