<!-- 
 File Name: index.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: HTML page displaying all the home page information.
-->

<!-- HEADER -->
<% include ./partials/header %>
<!-- JUMBO TRON -->
<% include ./partials/jumbotron %>
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex commodi, architecto omnis totam consequatur laborum incidunt est natus odit doloribus voluptatem facere molestiae officiis explicabo, dolor amet aut similique repudiandae quo deserunt nam praesentium magni perspiciatis! Nobis tempora quisquam, cum cumque velit libero mollitia labore expedita incidunt aliquid assumenda, possimus distinctio iste blanditiis esse ad nisi repellat pariatur amet. Beatae, unde, eveniet. Distinctio hic quibusdam dolores commodi, dolorum aspernatur minus, velit, suscipit harum libero, sit consequatur minima similique aliquid fugiat odit laudantium non magnam ullam. Voluptate officia cum temporibus provident laudantium, perferendis doloribus facilis illum, soluta vitae id similique porro.</p>
  <p>Distinctio eum est repudiandae, vel dignissimos saepe perspiciatis nisi amet deserunt consequuntur quis ratione debitis. Vel, deserunt? Natus, totam ex temporibus maxime. Commodi recusandae, voluptates ut dicta cum nam dolore, unde, voluptatem modi similique pariatur fugiat mollitia animi hic totam fugit porro nihil nemo quod eum consectetur accusantium quisquam quos natus! Porro quibusdam accusantium recusandae dignissimos debitis repellat, tenetur quaerat? Magnam quis ducimus eveniet ipsam, quos, assumenda rerum ullam dolorem deserunt ab repellendus, omnis quidem temporibus ratione, officiis est consectetur commodi quae. Error dolorem, sint commodi, voluptas, ab itaque repellat omnis dolore corporis officia facilis hic quae assumenda. Iure, odio?</p>
  <p>Nihil, cumque quae odio omnis perspiciatis asperiores facere earum libero veniam officiis? Quas aperiam dicta nostrum explicabo. Qui vel maxime nostrum quo sint omnis possimus ullam ab soluta nesciunt quidem laudantium ut repellendus facere reprehenderit voluptatum magnam nam numquam praesentium, neque doloribus quia quas nemo! Fugiat ab minus delectus veritatis mollitia, aperiam voluptatibus quia id officia eligendi odio, asperiores amet. Possimus beatae officia corporis. Quasi quidem sequi, consequatur, ut autem quas. Tempora ea pariatur ipsum esse aperiam minus maxime fuga perspiciatis laudantium facere obcaecati, enim neque minima est dolore, eaque animi ducimus! Eligendi nihil voluptatibus vitae consequatur cumque ratione, consectetur.</p>
  <p>Sunt ex rerum dolore fuga officia necessitatibus culpa incidunt velit tenetur suscipit! Ipsum, obcaecati amet. Iusto quidem, tempora perferendis natus maiores sapiente facilis aliquam atque enim veritatis ad itaque, commodi est eius odio, recusandae provident ea, nisi soluta? Repellat omnis magnam quis molestiae beatae accusamus, impedit eos quod, sit, dicta delectus illum rem! Esse harum placeat suscipit, nesciunt hic atque pariatur corporis laudantium cupiditate. Eveniet iusto, repudiandae debitis tenetur quam reprehenderit a ex, fugit numquam natus modi expedita veniam necessitatibus hic nostrum ad sed autem molestiae quidem nisi cupiditate, fuga dolor facere in. Quae itaque, vel, harum repellat iusto cum.</p>
  <p>Sapiente, quis labore, nemo, fugit alias neque maxime, ipsum quisquam dolore eum ipsa eius ex. Labore quos facere assumenda voluptate suscipit natus blanditiis unde, totam, pariatur fugit asperiores quisquam modi aliquam dolorem, enim expedita harum cumque praesentium saepe repudiandae animi ipsa! Reiciendis enim fuga ex, eaque est minus repudiandae necessitatibus consequuntur maiores ratione labore nobis saepe architecto obcaecati porro rem, incidunt perferendis quaerat blanditiis ipsa minima. Cum aperiam hic veniam nemo, illum, qui, distinctio nisi quia amet deleniti ea totam temporibus sed? Neque dolores suscipit ipsa debitis esse temporibus possimus et molestiae natus aut, eaque consequuntur quod tenetur perferendis maxime.</p>
</div>
       
<!-- FOOTER -->
<% include ./partials/footer %>

