<!-- 
 File Name: about.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: HTML page displaying all the about information.
-->

<!-- HEADER -->
<% include ../partials/header %>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

<div class="container">
  <section>
    <div class="page-header" id="feedback"><h1>About Me</h1></div>       
    <div>
      <p><img src="Assets/images/me.jpg" id="floatRight"></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus corrupti quis ratione quaerat delectus vero at ad expedita quisquam, voluptas a corporis mollitia, cumque earum.</p>
          
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quaerat, assumenda obcaecati voluptatum possimus nostrum culpa dolor natus enim, sapiente error distinctio aperiam architecto praesentium ea quasi tenetur, minus soluta consequuntur. At odio nesciunt consequuntur soluta illum obcaecati, voluptates, nisi? Nihil iusto incidunt veniam voluptatum commodi dignissimos quas sed maiores!</p>
          
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolores assumenda debitis, ab, quaerat laboriosam quam. Accusantium natus a sequi consequatur temporibus eum! Distinctio deleniti, minus dignissimos excepturi aliquid ad itaque adipisci amet iste, consequuntur modi tempora quia, similique quibusdam.</p>
    </div><!--End col-8 main-content-->

  </section>
</div><!--End container-->
    
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!-- FOOTER -->
<% include ../partials/footer %>

