<!-- 
 File Name: contact.ejs
 Author: Mohammed Juned Ahmed
 Website Name: https://comp308-assignment2.herokuapp.com/
 File Description: HTML page displaying all the contact information.
-->

<!-- HEADER -->
<% include ../partials/header %>
<div class="content container">
  <h1><%= title %></h1>
</div>
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<div class="container">
  <address>
    89 Ellesmere Avenue<br>
    Toronto, ON<br>
    CANADA<br>
  </address>
  <a href="mailto:ahmedmohammedjuned@gmail.com">Email Me!</a>
</div>
    
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!-- FOOTER -->
<% include ../partials/footer %>
